<div id="archetypes-table-pre" style="display: blok; float: right;">
    <span class="relevant_text" style="padding-right: 4px;">Filter By:</span>
    <span><img src="../resources/images/mana/U.png" class="dominant-mana-icon"/></span>
    <span><img src="../resources/images/mana/B.png" class="dominant-mana-icon"/></span>
    <span><img src="../resources/images/mana/W.png" class="dominant-mana-icon"/></span>
    <span><img src="../resources/images/mana/G.png" class="dominant-mana-icon"/></span>
    <span><img src="../resources/images/mana/R.png" class="dominant-mana-icon"/></span>
</div>